@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

:root {
    --my-yellow : #ffd745;
    --yellow-hover : rgb(255, 191, 0);
    --light-border : rgb(236, 236, 236);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
    color: #333;

    text-align: center;
    list-style: none;
    text-decoration: none;
}

/* common class */
.justify-align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    width: 100%;
    margin: 0 auto;
}

/* common tag */
section,header,main,footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
section {
    width: 1000px;
    height: 100%;
}
td {
    padding: 10px 0;
}
dt {
    font-weight: 600;
    margin-bottom: 10px;
}

/* specific tag */
/* header */
header {
    height: 70px;
    border-bottom: thin solid var(--light-border);
}
header section {
    justify-content: space-between;
}
nav {
    display: flex;
    align-items: center;
    gap: 50px;
}
#logo,
header nav > a {
    font-size: 14px;
    font-weight: 900;
    height: 40px;
    line-height: 40px;

    &:not(#contact-me):hover {
        border-bottom: 3px solid var(--my-yellow)
    }
}
header nav > a#contact-me {
    color: white;
    padding: 0 15px;
    border-radius: 10px;
    background-color: var(--my-yellow);

    &:hover {
        background-color: var(--yellow-hover);
    }
}

/* main */
main {
    height: calc(100vh - 140px);
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}

/* footer */
footer {
    height: 70px;
    border-top: thin solid var(--light-border);
}
footer section {
    justify-content: left;
}
footer ul {
    gap: 18px;
}
footer ul img {
    width: 20px;
    height: 20px;
}