@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

:root {
    --my-yellow : #ffd745;
    --yellow-hover : rgb(255, 191, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
    color: #333;

    text-align: center;
    list-style: none;
    text-decoration: none;
}

/* common class */
.justify-align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    width: 100%;
    margin: 0 auto;
}

/* common tag */
section,header,main,footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
section {
    width: 1000px;
    height: 100%;
}


/* specific tag */
/* header */
header {
    height: 70px;
    border-bottom: thin solid rgb(236, 236, 236);
}
header section {
    justify-content: space-between;
}
nav {
    display: flex;
    align-items: center;
    gap: 50px;
}
#logo,
header nav > a {
    font-size: 14px;
    font-weight: 900;
    height: 40px;
    line-height: 40px;

    &:hover {
        border-bottom: 3px solid var(--my-yellow)
    }
}

/* main */
main {
    height: calc(100vh - 140px);
}
/* main section {
    justify-content: unset;
    flex-direction: column;

    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
} */

/* footer */
footer {
    height: 70px;
    font-weight: 600;
}
footer section {
    justify-content: left;
}