
#home-main-wrap {
    width: 1000px;
    display: flex;
    justify-content: space-between;
}
#home-main-wrap #home-main-text-wrap {
    display: flex;
    justify-content: left;
    flex-direction: column;
    font-weight: 900;
    gap: 40px;
}
#home-main-wrap #home-main-text-wrap p {
    font-size: 50px;
    text-align: left;
}
#home-main-wrap #home-main-text-wrap span {
    color: var(--my-yellow);
}
#home-main-wrap #home-main-text-wrap a {
    width: 130px;
    font-size: 20px;
    padding: 10px 15px;
    background-color: var(--my-yellow);
    color: white;
    border-radius: 10px;
    
    &:hover {
        background-color: var(--yellow-hover);
    }
}
#home-main-wrap #home-main-img-wrap {
    width: 400px;
    height: 450px;
    border-radius: 70% 70% 100% 100%;
    background-color: var(--my-yellow);
    overflow: hidden;
    position: relative;
}
#home-main-wrap #home-main-img-wrap img {
    width: 300px;
    position: absolute;
    bottom: 0px;
    left: 50px;
}