
main section {
    justify-content: space-between;
}
main section #home-main-text-wrap {
    display: flex;
    justify-content: left;
    flex-direction: column;
    font-weight: 900;
    gap: 40px;
}
main section #home-main-text-wrap p {
    font-size: 50px;
    text-align: left;
}
main section #home-main-text-wrap span {
    color: var(--my-yellow);
}
main section #home-main-text-wrap a {
    width: 120px;
    font-size: 14px;
    padding: 13px 10px;
    background-color: var(--my-yellow);
    color: white;
    border-radius: 8px;
    
    &:hover {
        background-color: var(--yellow-hover);
    }
}
main section #home-main-img-wrap {
    width: 400px;
    height: 450px;
    border-radius: 70% 70% 100% 100%;
    background-color: var(--my-yellow);
    overflow: hidden;
    position: relative;
}
main section #home-main-img-wrap img {
    width: 300px;
    position: absolute;
    bottom: 0px;
    left: 50px;
}


footer ul {
    gap: 20px;
}
footer ul img {
    width: 25px;
    height: 25px;
}