
#resume {
    padding: 50px 0;
    flex-direction: column;
    gap: 30px;
}

#connect {
    position: relative;
}
#connect > img {
    margin-top: 10px;
    border-radius: 15px;
}
#connect > #connect-img-wrap {
    display: none;
    width: 150px;
    height: 113px;
    background-color: rgba(255, 255, 255, 0.429);
    border-radius: 15px;
    position: absolute;
    top: 33px;
    gap: 20px;
}

#text-wrap {
    height: 250px;
    gap: 20px;
}
#text-wrap > div {
    width: 350px;
    height: 100%;
    background-color: lemonchiffon;
    border-radius: 15px;
    flex-direction: column;
    gap: 20px;

    &:hover {
        background-color: rgb(255, 245, 152);
    }
}
#text-wrap > div > *:not(h2) {
    font-size: 13px;
}